@{
    ViewData["Title"] = "Home Page";
    var name = "Emir inaner";
    var studentId = 22103363;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <p>@name</p>
    <p>ID: @studentId</p>

    

  

</div>
